:root {
    --base: #E9F1F7;
    --primary: #048EDD;
    --secondary: #E7DFC6;
    --black: #131B23;
    --alternate: #816C61;

}

body {
    background: var(--base);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

.card {
    cursor: pointer;
}

.close {
    float: right;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}
.company-profile-keywords li {
    display: inline;
    list-style-type: none;
}
.company-profile-keywords li mark {
    font-size: .85em;
    display: inline-block;
}

.fc-email-modal-photos img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center center;
}
.fc-email-modal-social a {
    text-decoration: none;
    padding: 5px;
}

@media (min-width: 1366px) {
    .modal-content {
      background-color: #fefefe;
      margin: 10vh auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 30%; /* Could be more or less, depending on screen size */
      }
  }
  
 